/* Other Browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

.bg-grey {
    background-color: lightgray;
    border: none;
}
.del {
	width : 30px;
	height : 30px;
	border-radius: 50%;
	text-align: center;
}
.details{
	/* margin-top: 0.25%; */
	margin-bottom: 0.25%;
}
.input-group, .price, .del, .total{
	display: flex;
	justify-content: center; 
    vertical-align: middle;
}
/* .input-group{
	display: inline-block;
	margin: 0%;
} */

.productlist{
	/* width: 99%; */
}
.summary{
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.btn-align{
    margin-left: 40%;
    margin-bottom: 5%;
}